body{

  font-family: 'PT Sans';
  line-height: 1.5;
  font-size: 14px;
  background-color: #f2f2f2;
  text-transform: uppercase;


}

.nav a{

  font-weight:bold;
  text-decoration: none;
  color:black;

}

h2,h3{
  line-height:1.2;
  font-size:21px;
  font-weight:bold;

}

.booking h2{
  font-size: 30px;


}
