body{

  font-family: 'PT Sans';
  line-height: 1.5;
  font-size: 14px;
  background-color: #f2f2f2;
  text-transform: uppercase;
  text-align: center;

}

 a{

  font-weight:bold;
  text-decoration: none;
  color:black;
  cursor: pointer;
}
/****/
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 0 0 15px rgba(0 ,0, 0, .2);
    background-color: #fff;
}



.header{

  background:url('../img/header/background_photo.jpg') top / cover;

}

.nav{
    position: relative;
    padding: 0 6%;
    background-color: #fff;

}


.header-content {
    position: relative;
    padding: 75px 0 80px;
    text-align: center;
}

.header::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 57px;
  background: url('../img/header/bg_after.svg') bottom no-repeat / contain;

}

/*****/


.advantages-row{

  display: flex;
}
.advantages-bg{

  width:66%;

}
.advantages-col{

  width: 34%;
}
.advantages-bg:first-child{

background-image: url('../img/index/first-reason.jpg');
background-repeat: no-repeat;

}

.advantages-bg:last-child{

  background-image: url('../img/index/second-reason.jpg');
}

#arrival a,#departure a{

  background-image: url('../img/index/calendar.svg');
  background-repeat: no-repeat;
}

#adult a:first-child,#child a:first-child{

  background-image: url('../img/index/minus.png');
  background-repeat: no-repeat;
}

#adult a:last-child,#child a:last-child{

  background-image: url('../img/index/plus.png');
  background-repeat: no-repeat;
}


.refs-item{

    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 3px;


}
.refs-item:first-child a {

  background-image: url('../img/footer/twitter.svg');
  background-repeat: no-repeat;
}
.refs-item:nth-child(2) a {

  background-image: url('../img/footer/facebook.svg');
  background-repeat: no-repeat;
}
.refs-item:last-child a{

  background-image: url('../img/footer/youtube.svg');
  background-repeat: no-repeat;
}

.footer-right p {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.footer-right a {
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    text-decoration: none;
}

.bluebg{
  color: white;
  background-color: #81b3d2;
}

.brownbg{
  color: white;
  background-color: #766357;
}

h2,.hashtag,.map-headBtn{
  line-height:1.2;
  font-size:21px;
  font-weight:bold;

}
.advantages h3{
  line-height:1;
  font-size:21px;
  font-weight:bold;


}
.booking h2{
  font-size: 30px;
}

.booking p{
    line-height: 1.7;

}

.map label{

  line-height: 1.85;

}

/*КАТАЛОГ*/

.c-header{

  background-image: url('../img/catalog/filter_background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.c-header-content {

  color:white

}

.c-header-content h3{

  font-size:16px;
  line-height: 1.3;

}
.c-header-content button{

  background-color: rgba(255, 0, 0, 0);
  border: 2px solid white;

}

.c-hotels-top-sort{
  font-size:12px;

}

.c-hotels-top-button{

  color:rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid #81b3d2;
  border-style: dotted;

}

.c-hotels-top-button:hover{
  color: #81b3d2;
  border-style: none;

}

.arrows a:first-child{

  background-image: url('../img/catalog/icon-up-dir.svg');
  background-repeat: no-repeat;
}

.arrows a:last-child{

  background-image: url('../img/catalog/icon-down-dir.svg');
  background-repeat: no-repeat;
}

.arrows a:hover{
  color:#81b3d2;
}

.c-hotels-rating{

  background-color: #f2f2f2;
  color: #666666;

}
.c-hotels-row{

  display: flex;

}

.c-hotels-stars a{

  background-image: url('../img/catalog/star.svg');
  background-repeat: no-repeat;

}
